.gradle
.idea
.DS_Store
build
*.iml
app/.gitignore
SoundRecorder/
anhelper/.gitignore
anhelper/proguard-rules.pro
app/build.gradle
app/proguard-rules.pro
captures/
cylibs/
gradle.properties
gradle/
gradlew
gradlew.bat
local.properties
stetho-1.1.1-fatjar.jar
