<?xml version="1.0" encoding="utf-8"?>
<manifest package="me.skyun.test"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    //添加如下权限
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    //使用SDK务必在androidManifest.xml文件中加入以下service,receiver
    <service android:name="com.yzx.service.ConnectionControllerService"></service>

    <receiver android:name="com.yzx.service.AlarmReceiver"></receiver>
    <receiver android:name="com.yzx.service.MsgBackReceiver"></receiver>

    <application
        android:name=".TestApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/DemoAppTheme"
        tools:replace="label, theme">

        <activity android:name=".AppMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".NumBlinkActivity" />
        <activity android:name=".AsyncTest.AsyncTestActivity" />
        <activity android:name=".Test.TestActivity" />
        <activity android:name=".FragmentListArray" />
    </application>

</manifest>
